html, body {
    font-size: 16px;
    font-family: 'Lato';
    color: #424551;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #ff3e3a, #ff7505) 100%;
    white-space: nowrap;
}

.logo {

}

/* --------------------------------------------------------------------------- */

.header {
    font-weight: 700;
}

.header__top {
    
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header__logo {
    margin-right: 60px;
}
.header__nav {
    margin-right: auto;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 40px;
}
.header__nav-item:last-child {
    margin-right: 0;
}
.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
}
.header__btn-box {
    display: flex;
    align-items: center;
}
.header__top-btn {
    margin-right: 36px;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
}
.header__user-nav::before {
    white-space: nowrap;
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    transform: translate(-50%);
    content: "";
    background: url("../images/icons/profile.svg") no-repeat;
    width: 20px;
    height: 20px;
}
.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
}
.header__body {
}